<div class="GetHttp">
	<h5 class="Get-header">Initiate Workbench</h5>
	<form>
		<label for="userID">PNR</label><br>
		<input type="text" id="userId" name="userId"> &nbsp;
		<button (click)="sendGetRequest(userId)">Submit</button><br><br>
    </form>

		<div *ngIf="auth">
			<table class="Get-body">
				<thead>
					<tr>
						<th>UserId</th>
						<th>Amount</th>
						<th>TravelerRef</th>
						<th>TicketNumber</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{auth}}</td>
						<td>{{value}}</td>
						<td>{{title}}</td>
						<td>{{completed}}</td>
					</tr>
				</tbody>
			</table>
		</div>
</div>